.articles body {
  margin: 10px;
  padding: 0;
}

.home body {
  width: 1000px;
  margin: 0 auto;
}

.menu {
  background-color: black;
  overflow: hidden;
  padding: 10px 0;
}

.menu a {
  display: inline-block;
  color: green;
  font-size: 18px;
  background-color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.menu a:last-child {
  margin-right: 0;
}

.menu a:hover {
  color: orange;
}

.logo {
  float: left;
  display: block;
  color: white;
  font-size: 20px;
  background-color: black;
  text-align: center;
  padding: 10px 16px;
  margin-right: 10em;
}

.menu .login {
  display: inline-block;
  color: orange;
  background-color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 16px;
}

.foot {
  color: grey;
}

.article {
  font-size: 20px;
  padding-top: 10px;
  display: block;
}

.subhead {
  color: grey;
  padding-bottom: 10px;
  display: block;
}

.entry, .content {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

.container {
  overflow: hidden;
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
}

.h_article {
  float: left;
  width: 45%;
  margin-right: 10px;
  padding: 10px 16px;
}

.h_article img {
  max-width: 100%;
  height: auto;
}

.h_article h2 {
  font-weight: bold;
  margin: 0;
}

.h_article a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  
}
.h_article a:hover{
  color: orange;
}
.author-date {
  clear: both;
}

.author {
  color: orange;
  margin-right: 5px;
}

.date {
  color: grey;
}
