div {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  padding: 2px;
  float: left;
}

.menu {
  color: green;
}

.yellow {
  color: goldenrod;
}

#title {
  color: white;
  font-size: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}
