.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  background-color: black;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
}

#title {
  color: white;
  font-size: 20px;
}

.menu {
  color: green;
}

.yellow {
  color: orange;
}

.subhead {
  color: grey;
}

.foot{
  color: grey;
}

.article {
  font-size: 20px;
}