/*#d1 {
  color: red;
  font-size: 200%;
}

.blue {
  color: blue;
}*/

p,
div {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(147, 233, 190);
  font-family: "Calibri", Courier, monospace;
  font-weight: bold;
  line-height: 150%;
  text-indent: 2em;
}
